[
  {rabbit, [{auth_backends, [rabbit_auth_backend_ldap, rabbit_auth_backend_internal]}]},
  {rabbitmq_auth_backend_ldap,
   [ {servers,               ["%LDAP_SERVER%"]},
     {dn_lookup_bind,        {"cn=rabbitmq,ou=services,dc=wot,dc=io", "%RABBITMQ_PASSWORD%"}},
     {dn_lookup_attribute,   "uid"},
     {dn_lookup_base,        "ou=services,dc=wot,dc=io"},
     {use_starttls,          true},
     {port,                  389},
     {timeout,               10000},
     {log,                   true},
     {vhost_access_query,    {in_group,
                               "cn=rabbitmq-admins,ou=groups,dc=wot,dc=io"}},
     {resource_access_query,
      {for, [{permission, configure, {in_group, "cn=rabbitmq-admins,ou=groups,dc=wot,dc=io"}},
             {permission, write,
              {for, [{resource, queue,    {in_group, "cn=rabbitmq-admins,ou=groups,dc=wot,dc=io"}},
                     {resource, exchange, {constant, true}}]}},
             {permission, read,
              {for, [{resource, exchange, {in_group, "cn=rabbitmq-admins,ou=groups,dc=wot,dc=io"}},
                     {resource, queue,    {constant, true}}]}}
            ]
      }},
     {tag_queries,           [{administrator, {constant, false}},
                              {management,    {constant, true}}]}
   ]
  }
].
